<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke" parallel="tests" thread-count="1">

    <test name="LoginPageTest">
        <classes>
            <class name="org.diplom.test.LoginPageTest"/>
        </classes>
    </test>
    <test name="LoginInvalidPageTest">
        <classes>
            <class name="org.diplom.test.LoginInvalidPageTest"/>
        </classes>
    </test>
    <test name="MyJefitPageTest">
        <classes>
            <class name="org.diplom.test.MyJefitPageTest"/>
        </classes>
    </test>
    <test name="WorkoutPageTest">
        <classes>
            <class name="org.diplom.test.WorkoutPlansPageTest"/>
        </classes>
    </test>
    <test name="CoachPageTest">
    <classes>
        <class name="org.diplom.test.CoachPageTest"/>
    </classes>
    </test>
</suite>
